* {
	margin: 0;
	padding: 0;
}
body {
	color: #97c010;
	font-family: Arial, Helvetica, sans-serif;
	background: black;
}
main {
	padding-top: 220px;
	margin-bottom: 50px;
	background: black;
	background-image: url('../img/bgpat.png');
}
header {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 200px;
}
footer {
	text-align: center;
	min-height: 300px;
	position: fixed;
	width: 100%;
    bottom: 0px;
    z-index: -1;
	background: black;
}
footer p {
	position: absolute; 
    bottom: 10px;
	left: 10%;
	right: 10%;
}
section {
	min-height: 200px;
}
nav {
	list-style-type: none;
	font-size: 0;
}
nav li {
	display: inline-block;
}
nav li a {
	display: block;
	font-size: 18px;
	text-decoration: none;
	color: white;
}
[data-role="logo"] {
	margin: 0 auto;
	display: block;
	padding: 10px;
}
[data-role="menu-text"] {
	display: block;
	box-shadow: 0px 1px 300px rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
[data-role="menu-text"] h3 {
	display: block;
	margin: 4px 0;
	padding: 10px;
	background: linear-gradient(#9c0, #696); /*     background: linear-gradient(#9b0, #696); */
	text-shadow: 0 1px 1px rgba(255,255,255,0.2);
	color: black;
	font-size: 34px;
}
[data-role="menu-text"] h3::after {
	content: "Prijs";
	position: absolute;
	right: 10px;
	font-size: smaller;
	line-height: 40px;
}
[data-role="menu-content"] {
	background: rgba(238,238,238,0.1);
}
[data-role="menu-text"] [data-role="menu-content"] p {
	display: block;
	padding: 8px;
}
[data-role="menu-text"] [data-role="menu-content"] p:first-child {
	box-shadow: inset 1px 0 0 rgba(0,0,0,0.2);
}
[data-role="menu-text"] [data-role="menu-content"] p:last-child {
	box-shadow: inset -1px -1px 0 rgba(0,0,0,0.2);
}
[data-role="menu-text"] [data-role="menu-content"] > p span {
	font-size: 26px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.1);
}
[data-role="menu-text"] [data-role="menu-content"] p span:nth-child(2) {
	position: absolute;
	right: 10px;
}
#menu ul {
	list-style-type: none;
	font-size: 0;
}
#menu ul li {
	width: 120px;
	height: 100px;
	display: inline-block;
}
[data-role="coca-cola"] {
	background-image: url("../img/coca-cola.jpg");
	background-size: cover;
	background-position: center;
}